$frequent-gradient: linear-gradient(180deg, #F0D670 0%, #BB891A 70.86%);
$frequent-color: #ca9f32;
$top-section-font: clamp(14px, 2vw, 24px);
$frequent-font: clamp(15px, 3vw, 18px);
$font-h1: clamp(28px, 5vw, 48px);
$font-h2: clamp(24px, 4.5vw, 38px);
$font-h3: clamp(20px, 5vw, 34px);
$font-h4: clamp(16px, 3.5vw, 28px);
$frequent-radius: 20px;
